p
{
  color: #40514E;
  line-height: 2;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-color: grey;
  border-width: 5px;
  width:10%;
  margin-top: 40px;
  margin-bottom: 40px;
}
h1
{
  font-size:5.625rem; /*100%=16px --- 1em=16px---rem:doesn't change anything or inherit parent font size*/
  margin:50px auto 0 auto;
  /*  line-height: 2; */
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}
h2
{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
h3
{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
/* add dark-mode class*/
body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EAF6F6;
  /* position: relative; */
}
#dark-mode-btn{
  position: absolute;
  right: 50px;
  top: 50px;
  outline: none;
}
#dark-mode-btn:focus{
  border: none;
  outline:none;
}
.top
{
  position:relative;
  padding-top: 100px;
  padding-bottom: 40px;
}
.middle-container
{
  padding-bottom: 20px;
}
.bottom-container
{
  background-color: #66BFBF;

  padding-top: 10px;
  padding-bottom: 1px;
}
 
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #3498db);
  background-image: -moz-linear-gradient(top, #30e3cb, #3498db);
  background-image: -ms-linear-gradient(top, #30e3cb, #3498db);
  background-image: -o-linear-gradient(top, #30e3cb, #3498db);
  background-image: linear-gradient(to bottom, #30e3cb, #3498db);
  text-decoration: none;
}
.pro
{
  text-decoration: underline;
}
.top-cloud
{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud
{
  position:absolute;
  left: 300px;
  bottom: 300px;

}
.circular
{
  width:200px;
  border-radius: 100%;
}
.logo
{
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.skill-row
{
  margin:50px auto 100px auto;
  width: 50%;
  text-align: left;
}
.footer-link
{
  color: #11999E;
}
.copyright
{
  color: #EAF6F6;
  font-size: 0.75rem
}
.intro
{
  width: 40%;
  margin:auto;
}
.contact-message
{
  width: 40%;
  margin: 40px auto 20px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover{
  color: #EAF6F6;
}
/*border adds border
padding adds space between content and border
margin adds space outside border and between any other element */
/*
display inline-block ->same line
taking space only as much as content
*/
/*
fixed->places in one place
*/
